<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de categorias
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="barraBusqueda" placeholder="Buscar" show-clear-button="focus" [debounce]="500"
      (ionInput)="filtrarCategorias($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de categorias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list *ngIf="categoriasArraySearch.length == 0 && barraBusqueda === ''">
      <ion-item-sliding *ngFor="let categoria of categoriasArray; let i = index">
        <ion-item>
          <ion-icon slot="start" name="bookmarks"></ion-icon>
          <ion-label> {{categoria.nombre}}</ion-label>
          <ion-note slot="end">deslice</ion-note>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option [routerLink]="['categorias/editar/', categoria.id]" color="warning">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="eliminarCategoria(i)" color="danger">
            <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- CONSULTA DE BARRA DE BUSQUEDA-->
    <ion-list *ngIf="categoriasArraySearch.length > 0">
      <ion-item-sliding *ngFor="let categoria of categoriasArraySearch; let i = index">
        <ion-item>
          <ion-icon slot="start" name="bookmarks"></ion-icon>
          <ion-label> {{categoria.nombre}}</ion-label>
          <ion-note slot="end">deslice</ion-note>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option [routerLink]="['categorias/editar/', categoria.id]" color="warning">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="eliminarCategoria(i)" color="danger">
            <ion-icon slot="icon-only" name="trash-bin"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ion-content>